<!DOCTYPE html>
{% load static %}
<html lang="en" class="scroll scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

   
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
    <title>U-PyCoder</title>
    

</head>
<body id="home" class="bg-black">
    

    {% block content %}

    {% endblock content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script type="text/javascript" src="{% static 'src/alpinet.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'src/alpinee.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'src/alpine.js' %}" defer></script>
<!-- CSS -->

<!-- JS -->
<script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
</div>
</main>
</body>
</html>