<section id="contact">
    <div class="py-8 scroll-smooth lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-2xl md:text-4xl tracking-tight font-mono text-center text-zinc-50">Let’s get in touch.</h2>
        <form hx-post="{% url 'index' %}" hx-target="#n"  method="post"  class="space-y-8">
            {% csrf_token %}
            <div>
                <label for="name" class="block mb-2 text-sm font-medium text-zinc-50">Your name</label>
                <input type="text" name="name" id="name" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500" placeholder="Name" required>
            </div>
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-zinc-50">Your email</label>
                <input type="email" name="email" id="email" class="shadow-sm bg-zinc-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5" placeholder="Email" required>
            </div>
           
            <div class="sm:col-span-2">
                <label for="message" class="block mb-2 text-sm font-medium text-zinc-50">Your message</label>
                <textarea name="message" id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500" placeholder="Message"></textarea>
            </div>
            <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-black rounded-lg bg-amber-500 duration-300 sm:w-fit hover:scale-95 focus:ring-4 focus:outline-none focus:ring-primary-300">Send message</button>
        </form>
    </div>
    <div id="n" hidden>
    </div>
</section>
